<form [formGroup]="filterService.filterForm">
  <select formControlName="region">
    <option *ngFor="let region of filterService.regions" [value]="region">{{
      region
    }}</option>
  </select>
</form>
<pre>{{ filterService.filterForm.value | json }}</pre>
