:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 1fr;
}

app-view-filter {
  grid-row: 1 / 3;
  grid-column: 3 /4;
}

app-view-graph {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

app-video-list {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

app-video-embedder {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
