<app-view-graph [views]="filteredViews | async"></app-view-graph>
<app-video-list
  [videos]="videos | async"
  [selectedVideo]="selectedVideo | async"
  (videoSelected)="selectVideo($event)"
></app-video-list>
<app-video-list
  [videos]="videos | async"
  [selectedVideo]="selectedVideo | async"
  (videoSelected)="selectVideo($event)"
></app-video-list>
<app-view-filter></app-view-filter>
<app-video-embedder [videoToEmbed]="selectedVideo | async"></app-video-embedder>
<button (click)="makeVideo()">Make Video</button>
